<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ tabTitle }}{% endblock %}</title>
    </head>
    <body>
        <div id="content">
            {% block content %}
                {% block navigation %}
                {% endblock %}
            {% endblock %}
        </div>
    </body>
</html>